---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
    placeholder: string
    name: string
    helperText?: string
    icon?: 'user' | 'mail'
    mandatory?: boolean,
    fallback?: string
}

const { placeholder, name, helperText, icon, mandatory, fallback } = Astro.props
---

<div class='flex flex-col gap-2'>
    <input
        required={mandatory}
        minlength={3}
        id={name}
        maxlength={30}
        placeholder={placeholder}
        name={name}
        class:list={[
            'h-10 ring p-4 ring-gray-100 bg-gray-100 focus:bg-white-default transition-all ease-out duration-100 outline outline-[1px] outline-transparent focus:outline focus:outline-[1px] focus:outline-gray-300 rounded-md',
            {
                'bg-icon pl-10 bg-[length:25px] bg-no-repeat bg-user' : icon === 'user',
                'bg-icon pl-10 bg-[length:25px] bg-no-repeat bg-mail' : icon === 'mail'
            }
        ]}
    />
    {
        helperText && (
            <span class='text-sm font-normal text-gray-500 opacity-80' id='desc'>{helperText}</span>
        )
    }
</div>

